# This is a basic workflow to help you get started with Actions

name: CD deployment pipelines

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # Detect which folders have changes
  changes:
    runs-on: ubuntu-latest
    # Required permissions
    permissions:
      pull-requests: read
    # Set job outputs to values from filter step
    outputs:
      consumo: ${{ steps.filter.outputs.consumo }}
      semantica: ${{ steps.filter.outputs.semantica }}
      pipeline: ${{ steps.filter.outputs.pipeline }}
      ingestao: ${{ steps.filter.outputs.ingestao }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            consumo:
              - 'Consumo/**'
            semantica:
              - 'semantica/**'
            pipeline:
              - 'pipeline/**'
            ingestao:
              - 'ingestao/**'
      # Runs a set of commands using the runners shell
  Dev-consumo:
    permissions:
      contents: none
    runs-on: ubuntu-latest
    needs: [changes]
    # Only deploy to Dev if Controllers or Models changed
    if: |
      needs.changes.outputs.Consumo == 'true'

    steps:
      - name: executing consumo deployment pipeline
        run: echo executing consumo dp workspaces!

  Dev-semantica:
    permissions:
      contents: none
    runs-on: ubuntu-latest
    needs: [changes]
    # Only deploy to Dev if Controllers or Models changed
    if: |
      needs.changes.outputs.semantica == 'true'

    steps:
      - name: executing semanica deployment pipeline
        run: echo executing semantica dp workspaces!

  Dev-Pipeline:
    permissions:
      contents: none
    runs-on: ubuntu-latest
    needs: [changes]
    # Only deploy to Dev if Controllers or Models changed
    if: |
      needs.changes.outputs.pipeline == 'true'

    steps:
      - name: executing pipeline deployment pipeline
        run: echo executing pipeline deployment workspaces! 
